
*{font-family: 'Josefin Sans', sans-serif;
font-size:10px;} 


.ui-page .ui-content {
    padding:0px;
}

#button1{
	color: white;
	background-color: #009688;
	}

#not_header{
		padding-top:20px;
		background-color: white;
		color: black;
		margin:0px;
		}
#header{
		padding-top: 20px;
		color: white;
		background-color: #009688;
	}
